body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.game {
  background-color: #111;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.quarter {
  flex-shrink: 0;
  width: 230px;
  height: 230px;
  opacity: 0.75;
  cursor: pointer;
}

.quarterCircleTopLeft {
  border-radius: 520px 0 0 0;
  background-color: green;
}

.quarterCircleTopRight {
  border-radius: 0 520px 0 0;
  background-color: red;
}

.quarterCircleBottomLeft {
  border-radius: 0 0 520px 0;
  background-color: yellow;
}

.quarterCircleBottomRight {
  border-radius: 0 0 0 520px;
  background-color: blue;
}

.middle {
  position: fixed;
  background-color: #111;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

p {
  margin: 0;
  user-select: none;
}

button,
select {
  margin: 10px;
  cursor: pointer;
}
